#login-btn, #signup-btn {
    border-radius: 5px;
    color: white;
}

#login-btn span, #signup-btn span {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}


  h1, h3 {
      font-family: "Source Sans Pro";
      color:white;
  }

  #jumbocard{
    background-image: linear-gradient(to right, #33ccff 0%, #00FF7F 100%);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
 
 #softwaredev, #datascience, #cyber, #nontech {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;  
    color:white;
    margin-left:3rem;
    margin-right:3rem;
    padding: 1rem;
 }

 .btn-group {
    padding-left: 15rem;
 }

 .caption {
    margin-top: 2rem;
    display: block;
    color:white;
}

#capstoneteam {
    background-color:white;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: fit-content;
}

#team-pic {
    width: 100%;
    height: 100%;
    background-size:cover;
}