#login-btn, #signup-btn {
    border-radius: 5px;
    color: white;
}

#login-btn span, #signup-btn span {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}


  h1, h3 {
      font-family: "Source Sans Pro";
  }

  #jumbocard{
    background-image: linear-gradient(to right, #33ccff 0%, #00FF7F 100%);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
 
 #softwaredev, #datascience, #cyber, #nontech {
    display:block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid white;  
    background-color: black;
    color:white;
    margin-left:3rem;
    margin-right:3rem;
 }

 .line {
    width: 100px;
    height: 1px;
    background-color: white;
}