#login-btn, #signup-btn, #desc-button {
    border-radius: 30px;
    color: white;
}

#login-btn:hover, #signup-btn:hover, #desc-button:hover {
    color: rgb(75, 75, 75);
}

#login-btn span, #signup-btn span {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

  h1, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:white;
  }

  #jumbocard{
    background-image: linear-gradient(108.25deg, #142135 1.44%, #037DFF 140.24%);
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 5px;
  }

  .card {
    border-radius: 5px;
    border: 0px solid;
  }
 
 #softwaredev, #datascience, #cyber, #nontech {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;  
    color:white;
    margin-left:3rem;
    margin-right:3rem;
    padding: 1rem;
 }

 .caption {
    margin-top: 2rem;
    display: block;
    color:white;
}

#team-pic {
    width: 100%;
    height: 100%;
    background-size:cover;
}

.carousel .card {
    border: 1px solid;
    border-color: #d5d5d5;
    height: 27rem;
    /* background-color: white!important; */
}

.carousel .col-md-4 .card-body {
    background-color: #4f4f4f!important;
}

.card-img-top {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.carousel .btn {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom:1rem;
}

.carousel .btn:hover {
    color: #4f4f4f!important;
}

.navbar {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-brand {
    background-color: transparent !important;
}

.encountertitles {
    color: #71C2CC;
}

.modal-content {
    background-color: #303d52;
}
