.carousel .card {
    border: 1px solid;
    border-color: #d5d5d5;
    height: auto;
    /* background-color: white!important; */
}

.carousel-indicators {
    position: absolute;
    padding-bottom: 25%!important;
    margin: 0;
    pointer-events: none;
}

.carousel-indicators a {
    pointer-events: all;
}

.encountertitles {
    color: #71C2CC!important;
}
