p,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#search-funct {
  max-width: 300px;
}

#profile-id,
#profile-name {
  color: white;
}

#nav-search,
#search-btn {
  border-radius: 30px;
}

#nav-button span,
#desc-button span {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.bg-secondary {
  background-color: #505050 !important;
}

.bg-dark,
.navbar-dark {
  background-color: #1e1e1e !important;
}

.btn-secondary {
  background-color: #3e3e3e !important;
}

.btn-secondary:hover {
  background-color: #2e2e2e !important;
}

.welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./imgs/heroimagedark.jpg");
    background-size: cover;
  height: auto;
  width: auto;
  margin-bottom: 0;
  padding: 2rem;
}

#contact-link:hover {
  text-decoration: none;
}

.card {
  display: flex;
  margin-top: 2vh;
  position: inline;
  opacity: 0.8 !important;
  background-color: #000000;
}

.card-text, .card-img {
  opacity: 1 !important;
}

.card-img {
  max-width: 40%;
}

.card-footer button {
  border-radius: 0.5rem;
}

.explore .card-header {
  min-height: 8rem;
}

.card-header {
  min-height: 6rem;
}

.card {
  border-radius: 1rem;
}

#profile-id {
  color: #ffffff;
  margin-top: 2vh;
}

#all-courses {
  text-align: right;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 1rem;
  /* padding-left: 1rem; */
  padding-right: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

#profile-pic {
    border-radius: 80rem;
    width: 2.5rem;
    height:auto;
    margin: 0;
}

#profile-lg {
    border-radius: 80rem;
    width: 6rem;
    height:auto;
    margin: 0;
}


#settings:hover, #settings:hover a, #log-out:hover #log-out:hover small {
    background-color: white!important;
    color: black!important;
    text-decoration: none;
}

li.dropdown-item#settings a {
  color: white;
}

/* li.dropdown-item:hover, li.dropdown-item#settings a:hover {
  color:black !important;
} */

/*This doesn't work*/
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item:hover {
  color:black !important;
}

.loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
}

.navbar {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-brand {
    background-color: transparent !important;
}

#sticky-footer {
  flex-shrink: none;
}

.welcoming {
  background: linear-gradient(108.25deg, #142135 1.44%, #037DFF 140.24%);
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}