.buttonoptions {
    background-color:black;
    color: white;
    border:none;
    height: auto;
    margin: 1rem;
    /* width: 40rem; */
    /* height: 10rem; */
    border-radius: 1rem;
    line-height: 2rem;
    padding: 2rem;
}

.buttonoptions span {
    line-height: 2rem;
    text-align: left;
    padding-top:0;
}

.buttonoptions p {
    font-size: 1.5rem;
}

.container {
    padding-bottom: 5rem;
}

.icons {
    width: 5rem;
    height: auto;
    float:left;
}

.quiz1b {
    background-color:black;
    color: white;
    border:none;
    height: auto;
    margin: 0.4rem;
    width: 25rem;
    height: 5rem;
    border-radius: 1rem;
    line-height: 4rem;
}

.fas {
    font-size: 28px;
    font-weight: 600!important;
    vertical-align: middle;
    margin-left: 1rem;
}